.main {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f1ecec;
}




.container {
  display: grid;
  grid-template-columns: 1fr min(100svh, 80vw) 1fr;
  gap: 8vmin;
  width: 100%;
}